@import url('https://fonts.googleapis.com/css2?family=Madimi+One&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
html{
	scroll-behavior: smooth;
	min-height: 100vh;
  }
  .wel{
	background-image: url('bg_image1.jpg'); 
	background-repeat: no-repeat; 
	background-size: cover;
	animation-name: welcome;
	animation-iteration-count: infinite;
	animation-duration: 14s;
	animation-timing-function: linear;
  }
  @keyframes welcome{
	0% {background-image: url('bg_image1.jpg');}
	50% {background-image: url('bg_image2.jpg');}
	100% {background-image: url('bg_image1.jpg');}
  }
  .mar {
	width: 100%;
	color:white;
	font-size: 128px;
  }
  